<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.height.type1"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android" android:priority="1"/>

    <application android:label="Type1" android:hasCode="false" />
</manifest>
